In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("heart-csv.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
train_df=df[:240]
train_target=train_df["target"].values
train_df=train_df.drop(["target"],axis=1)
train_features=train_df.values

In [3]:
test_df=df[240:]
test_target=test_df["target"].values
test_target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [4]:

test_df=test_df.drop(["target"],axis=1)
test_features=test_df.values

In [5]:
train_target

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [6]:
train_target.shape

(240,)

In [7]:
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical

In [8]:
train_target=to_categorical(train_target)

In [9]:
train_target.shape

(240, 2)

In [10]:
model=Sequential()
model.add(Dense(200,activation='relu',input_shape=(13,)))
model.add(Dense(64,activation='relu'))
model.add(Dense(12,activation='relu'))
model.add(Dense(2,activation='softmax'))
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=["accuracy"])
model.fit(train_features,train_target,epochs=17)

Epoch 1/17
8/8 [==============================] - 1s 2ms/step - loss: 3.4802 - accuracy: 0.5820
Epoch 2/17
8/8 [==============================] - 0s 1ms/step - loss: 1.2083 - accuracy: 0.6980
Epoch 3/17
8/8 [==============================] - 0s 1ms/step - loss: 0.9982 - accuracy: 0.6183
Epoch 4/17
8/8 [==============================] - 0s 2ms/step - loss: 0.8677 - accuracy: 0.6273
Epoch 5/17
8/8 [==============================] - 0s 2ms/step - loss: 0.8431 - accuracy: 0.6447
Epoch 6/17
8/8 [==============================] - 0s 1ms/step - loss: 0.7881 - accuracy: 0.6783
Epoch 7/17
8/8 [==============================] - 0s 1ms/step - loss: 0.5838 - accuracy: 0.7310
Epoch 8/17
8/8 [==============================] - 0s 1ms/step - loss: 0.4343 - accuracy: 0.7879
Epoch 9/17
8/8 [==============================] - 0s 1ms/step - loss: 0.4772 - accuracy: 0.7828
Epoch 10/17
8/8 [==============================] - 0s 1ms/step - loss: 0.4608 - accuracy: 0.7940
Epoch 11/17
8/8 [==============================] - 0s 1ms/step - loss: 0.4186 - accuracy: 0.8002
Epoch 12/17
8/8 [==============================] - 0s 2ms/step - loss: 0.5686 - accuracy: 0.6900
Epoch 13/17
8/8 [==============================] - 0s 2ms/step - loss: 0.4685 - accuracy: 0.7770
Epoch 14/17
8/8 [==============================] - 0s 1ms/step - loss: 0.3969 - accuracy: 0.8440
Epoch 15/17
8/8 [==============================] - 0s 1ms/step - loss: 0.4118 - accuracy: 0.8192
Epoch 16/17
8/8 [==============================] - 0s 2ms/step - loss: 0.4839 - accuracy: 0.8012
Epoch 17/17
8/8 [==============================] - 0s 1ms/step - loss: 0.5503 - accuracy: 0.7810

In [11]:
probability_model=Sequential([model,keras.layers.Softmax()])
predictions=probability_model.predict(test_features)

In [12]:
points=0
for i in range(63):
    if np.argmax(predictions[i]) == test_target[i]:
        points+=1
print((points/63)*100)

57.14285714285714